--
-- PostgreSQL database dump
--

\restrict YaZ3dritY0t7E3WkuQ1ANkWgbgTc3YBLE4HBfjxcEKQAKnzbizaXVRVDXOwLiPY

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: public; Type: SCHEMA; Schema: -; Owner: pg_database_owner
--

CREATE SCHEMA public;


ALTER SCHEMA public OWNER TO pg_database_owner;

--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: pg_database_owner
--

COMMENT ON SCHEMA public IS 'standard public schema';


--
-- Name: canal_notificacion; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.canal_notificacion AS ENUM (
    'email',
    'push'
);


ALTER TYPE public.canal_notificacion OWNER TO postgres;

--
-- Name: categoria_item; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.categoria_item AS ENUM (
    'cuidado_ninos',
    'cronogramas',
    'bienes',
    'economico',
    'personalizado'
);


ALTER TYPE public.categoria_item OWNER TO postgres;

--
-- Name: decision_propuesta; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.decision_propuesta AS ENUM (
    'acepta',
    'rechaza'
);


ALTER TYPE public.decision_propuesta OWNER TO postgres;

--
-- Name: estado_acuerdo; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.estado_acuerdo AS ENUM (
    'borrador',
    'enviado_a_firma',
    'firmado',
    'con_aviso'
);


ALTER TYPE public.estado_acuerdo OWNER TO postgres;

--
-- Name: estado_caso; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.estado_caso AS ENUM (
    'nuevo',
    'activo',
    'en_negociacion',
    'acordado',
    'cerrado',
    'terminado',
    'vencido'
);


ALTER TYPE public.estado_caso OWNER TO postgres;

--
-- Name: estado_invitacion; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.estado_invitacion AS ENUM (
    'pendiente',
    'aceptada',
    'rechazada',
    'expirada'
);


ALTER TYPE public.estado_invitacion OWNER TO postgres;

--
-- Name: estado_mediacion; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.estado_mediacion AS ENUM (
    'solicitada',
    'aceptada',
    'rechazada',
    'activa',
    'finalizada'
);


ALTER TYPE public.estado_mediacion OWNER TO postgres;

--
-- Name: estado_notificacion; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.estado_notificacion AS ENUM (
    'pendiente',
    'enviada',
    'fallida'
);


ALTER TYPE public.estado_notificacion OWNER TO postgres;

--
-- Name: estado_pago; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.estado_pago AS ENUM (
    'pendiente',
    'aprobado',
    'rechazado'
);


ALTER TYPE public.estado_pago OWNER TO postgres;

--
-- Name: estado_propuesta; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.estado_propuesta AS ENUM (
    'pendiente',
    'aceptada',
    'rechazada'
);


ALTER TYPE public.estado_propuesta OWNER TO postgres;

--
-- Name: estado_ronda; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.estado_ronda AS ENUM (
    'activa',
    'completada'
);


ALTER TYPE public.estado_ronda OWNER TO postgres;

--
-- Name: estado_suscripcion; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.estado_suscripcion AS ENUM (
    'activa',
    'cancelada',
    'vencida',
    'pendiente_pago'
);


ALTER TYPE public.estado_suscripcion OWNER TO postgres;

--
-- Name: estado_tarea; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.estado_tarea AS ENUM (
    'pendiente',
    'en_progreso',
    'completada'
);


ALTER TYPE public.estado_tarea OWNER TO postgres;

--
-- Name: metodo_caso; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.metodo_caso AS ENUM (
    'negociacion',
    'conciliacion',
    'mediacion'
);


ALTER TYPE public.metodo_caso OWNER TO postgres;

--
-- Name: rol_en_caso; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rol_en_caso AS ENUM (
    'parte_a',
    'parte_b',
    'mediador'
);


ALTER TYPE public.rol_en_caso OWNER TO postgres;

--
-- Name: rol_usuario; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.rol_usuario AS ENUM (
    'admin',
    'parte',
    'mediador',
    'estudio'
);


ALTER TYPE public.rol_usuario OWNER TO postgres;

--
-- Name: tipo_invitacion; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tipo_invitacion AS ENUM (
    'link',
    'codigo',
    'email'
);


ALTER TYPE public.tipo_invitacion OWNER TO postgres;

--
-- Name: tipo_tarea; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.tipo_tarea AS ENUM (
    'tarea',
    'evento_calendario'
);


ALTER TYPE public.tipo_tarea OWNER TO postgres;

--
-- Name: verif_biometrica; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public.verif_biometrica AS ENUM (
    'pendiente',
    'aprobada',
    'rechazada'
);


ALTER TYPE public.verif_biometrica OWNER TO postgres;

--
-- Name: audit_trigger_func(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.audit_trigger_func() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    AS $$

BEGIN

  IF TG_OP = 'INSERT' THEN

    INSERT INTO auditoria (usuario_id, accion, entidad, entidad_id, detalle)

    VALUES (

      auth.uid(),

      TG_OP || '_' || TG_TABLE_NAME,

      TG_TABLE_NAME,

      NEW.id,

      to_jsonb(NEW)

    );

    RETURN NEW;



  ELSIF TG_OP = 'UPDATE' THEN

    INSERT INTO auditoria (usuario_id, accion, entidad, entidad_id, detalle)

    VALUES (

      auth.uid(),

      TG_OP || '_' || TG_TABLE_NAME,

      TG_TABLE_NAME,

      NEW.id,

      jsonb_build_object('before', to_jsonb(OLD), 'after', to_jsonb(NEW))

    );

    RETURN NEW;



  ELSIF TG_OP = 'DELETE' THEN

    INSERT INTO auditoria (usuario_id, accion, entidad, entidad_id, detalle)

    VALUES (

      auth.uid(),

      TG_OP || '_' || TG_TABLE_NAME,

      TG_TABLE_NAME,

      OLD.id,

      to_jsonb(OLD)

    );

    RETURN OLD;

  END IF;

END;

$$;


ALTER FUNCTION public.audit_trigger_func() OWNER TO postgres;

--
-- Name: handle_new_user(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.handle_new_user() RETURNS trigger
    LANGUAGE plpgsql SECURITY DEFINER
    SET search_path TO 'public'
    AS $$

BEGIN

  INSERT INTO public.usuarios (id, email, rol, nombre, apellido)

  VALUES (

    NEW.id,

    NEW.email,

    COALESCE((NEW.raw_user_meta_data ->> 'rol')::text, 'parte')::rol_usuario,

    COALESCE(NEW.raw_user_meta_data ->> 'nombre', ''),

    COALESCE(NEW.raw_user_meta_data ->> 'apellido', '')

  );

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.handle_new_user() OWNER TO postgres;

--
-- Name: is_admin(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.is_admin() RETURNS boolean
    LANGUAGE sql STABLE SECURITY DEFINER
    AS $$

  SELECT EXISTS (

    SELECT 1 FROM public.usuarios

    WHERE id = auth.uid()

      AND rol = 'admin'

  );

$$;


ALTER FUNCTION public.is_admin() OWNER TO postgres;

--
-- Name: is_estudio(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.is_estudio() RETURNS boolean
    LANGUAGE sql STABLE SECURITY DEFINER
    AS $$

  SELECT EXISTS (

    SELECT 1 FROM public.usuarios

    WHERE id = auth.uid()

      AND rol = 'estudio'

  );

$$;


ALTER FUNCTION public.is_estudio() OWNER TO postgres;

--
-- Name: is_mediator_of_case(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.is_mediator_of_case(case_uuid uuid) RETURNS boolean
    LANGUAGE sql STABLE SECURITY DEFINER
    AS $$

  SELECT EXISTS (

    SELECT 1 FROM public.caso_partes

    WHERE caso_id = case_uuid

      AND usuario_id = auth.uid()

      AND rol_en_caso = 'mediador'

      AND estado_invitacion = 'aceptada'

  );

$$;


ALTER FUNCTION public.is_mediator_of_case(case_uuid uuid) OWNER TO postgres;

--
-- Name: is_own_subscription(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.is_own_subscription(sub_uuid uuid) RETURNS boolean
    LANGUAGE sql STABLE SECURITY DEFINER
    AS $$

  SELECT EXISTS (

    SELECT 1 FROM public.suscripciones

    WHERE id = sub_uuid

      AND usuario_id = auth.uid()

  );

$$;


ALTER FUNCTION public.is_own_subscription(sub_uuid uuid) OWNER TO postgres;

--
-- Name: is_owner_estudio_of_case(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.is_owner_estudio_of_case(case_uuid uuid) RETURNS boolean
    LANGUAGE sql STABLE SECURITY DEFINER
    AS $$

  SELECT EXISTS (

    SELECT 1 FROM public.casos c

    JOIN public.usuarios u ON u.id = auth.uid()

    WHERE c.id = case_uuid

      AND c.estudio_id = u.estudio_id

      AND u.rol = 'estudio'

  );

$$;


ALTER FUNCTION public.is_owner_estudio_of_case(case_uuid uuid) OWNER TO postgres;

--
-- Name: is_part_of_case(uuid); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.is_part_of_case(case_uuid uuid) RETURNS boolean
    LANGUAGE sql STABLE SECURITY DEFINER
    AS $$

  SELECT EXISTS (

    SELECT 1 FROM public.caso_partes

    WHERE caso_id = case_uuid

      AND usuario_id = auth.uid()

      AND estado_invitacion = 'aceptada'

  );

$$;


ALTER FUNCTION public.is_part_of_case(case_uuid uuid) OWNER TO postgres;

--
-- Name: sync_ronda_actual(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.sync_ronda_actual() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  UPDATE casos

  SET ronda_actual = NEW.numero

  WHERE id = NEW.caso_id

    AND NEW.numero > ronda_actual;

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.sync_ronda_actual() OWNER TO postgres;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  NEW.updated_at = now();

  RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

--
-- Name: validate_caso_estado_transition(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.validate_caso_estado_transition() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  IF OLD.estado = NEW.estado THEN

    RETURN NEW;

  END IF;



  IF OLD.estado = 'nuevo' AND NEW.estado IN ('activo', 'terminado') THEN

    RETURN NEW;

  END IF;



  IF OLD.estado = 'activo' AND NEW.estado IN ('en_negociacion', 'terminado', 'vencido') THEN

    RETURN NEW;

  END IF;



  IF OLD.estado = 'en_negociacion' AND NEW.estado IN ('acordado', 'terminado', 'vencido') THEN

    RETURN NEW;

  END IF;



  IF OLD.estado = 'acordado' AND NEW.estado = 'cerrado' THEN

    RETURN NEW;

  END IF;



  RAISE EXCEPTION 'Transici├│n de estado inv├ílida: % ÔåÆ %', OLD.estado, NEW.estado;

END;

$$;


ALTER FUNCTION public.validate_caso_estado_transition() OWNER TO postgres;

--
-- Name: validate_propuesta_estado_transition(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.validate_propuesta_estado_transition() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

  IF OLD.estado = NEW.estado THEN

    RETURN NEW;

  END IF;



  IF OLD.estado = 'pendiente' AND NEW.estado IN ('aceptada', 'rechazada') THEN

    RETURN NEW;

  END IF;



  RAISE EXCEPTION 'Transici├│n de estado inv├ílida: % ÔåÆ %', OLD.estado, NEW.estado;

END;

$$;


ALTER FUNCTION public.validate_propuesta_estado_transition() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: acuerdos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.acuerdos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    caso_id uuid NOT NULL,
    contenido jsonb NOT NULL,
    documento_url text,
    docusign_envelope_id text,
    estado public.estado_acuerdo DEFAULT 'borrador'::public.estado_acuerdo NOT NULL,
    fecha timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.acuerdos OWNER TO postgres;

--
-- Name: auditoria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auditoria (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    usuario_id uuid,
    accion text NOT NULL,
    entidad text NOT NULL,
    entidad_id uuid,
    detalle jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.auditoria OWNER TO postgres;

--
-- Name: carpetas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carpetas (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    estudio_id uuid NOT NULL,
    nombre text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.carpetas OWNER TO postgres;

--
-- Name: caso_partes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.caso_partes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    caso_id uuid NOT NULL,
    usuario_id uuid NOT NULL,
    rol_en_caso public.rol_en_caso NOT NULL,
    estado_invitacion public.estado_invitacion DEFAULT 'pendiente'::public.estado_invitacion NOT NULL,
    fecha_union timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.caso_partes OWNER TO postgres;

--
-- Name: casos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.casos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    creador_id uuid NOT NULL,
    estudio_id uuid,
    carpeta_id uuid,
    nombre text NOT NULL,
    descripcion text,
    metodo public.metodo_caso NOT NULL,
    estado public.estado_caso DEFAULT 'nuevo'::public.estado_caso NOT NULL,
    ronda_actual integer DEFAULT 1 NOT NULL,
    sla_tipo text,
    plazo timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.casos OWNER TO postgres;

--
-- Name: configuracion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.configuracion (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    clave text NOT NULL,
    valor jsonb NOT NULL,
    descripcion text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.configuracion OWNER TO postgres;

--
-- Name: estudios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.estudios (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nombre text NOT NULL,
    plan_id uuid,
    marca_config jsonb,
    activo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.estudios OWNER TO postgres;

--
-- Name: firmas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.firmas (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    acuerdo_id uuid NOT NULL,
    usuario_id uuid NOT NULL,
    docusign_status text DEFAULT 'pending'::text NOT NULL,
    fecha_firma timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.firmas OWNER TO postgres;

--
-- Name: incumplimientos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.incumplimientos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    acuerdo_id uuid NOT NULL,
    reportante_id uuid NOT NULL,
    descripcion text NOT NULL,
    fecha timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.incumplimientos OWNER TO postgres;

--
-- Name: inversores; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inversores (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nombre text NOT NULL,
    email text NOT NULL,
    capital_disponible text,
    experiencia text,
    fecha timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.inversores OWNER TO postgres;

--
-- Name: invitaciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invitaciones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    caso_id uuid NOT NULL,
    tipo public.tipo_invitacion NOT NULL,
    token text,
    email_destino text,
    estado public.estado_invitacion DEFAULT 'pendiente'::public.estado_invitacion NOT NULL,
    fecha_envio timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.invitaciones OWNER TO postgres;

--
-- Name: items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.items (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    caso_id uuid NOT NULL,
    parte_id uuid NOT NULL,
    categoria public.categoria_item NOT NULL,
    nombre text NOT NULL,
    descripcion text,
    valor_min text,
    valor_max text,
    puede_ceder boolean DEFAULT false NOT NULL,
    condiciones_cesion text,
    privado boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.items OWNER TO postgres;

--
-- Name: mediaciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.mediaciones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    caso_id uuid NOT NULL,
    mediador_id uuid NOT NULL,
    estado public.estado_mediacion DEFAULT 'solicitada'::public.estado_mediacion NOT NULL,
    ronda integer NOT NULL,
    fecha_solicitud timestamp with time zone DEFAULT now() NOT NULL,
    fecha_aceptacion timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.mediaciones OWNER TO postgres;

--
-- Name: notificaciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notificaciones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    usuario_id uuid NOT NULL,
    caso_id uuid,
    canal public.canal_notificacion NOT NULL,
    evento text NOT NULL,
    estado public.estado_notificacion DEFAULT 'pendiente'::public.estado_notificacion NOT NULL,
    fecha timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.notificaciones OWNER TO postgres;

--
-- Name: pagos; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.pagos (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    suscripcion_id uuid NOT NULL,
    mp_payment_id text,
    estado public.estado_pago DEFAULT 'pendiente'::public.estado_pago NOT NULL,
    monto numeric(10,2) NOT NULL,
    metodo text,
    fecha timestamp with time zone,
    raw_webhook jsonb,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.pagos OWNER TO postgres;

--
-- Name: planes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.planes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    nombre text NOT NULL,
    limite_carpetas integer NOT NULL,
    limite_casos integer NOT NULL,
    limite_iteraciones_ia integer NOT NULL,
    precio numeric(10,2) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.planes OWNER TO postgres;

--
-- Name: propuestas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.propuestas (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    caso_id uuid NOT NULL,
    ronda_id uuid NOT NULL,
    contenido jsonb NOT NULL,
    fundamentacion text,
    estado public.estado_propuesta DEFAULT 'pendiente'::public.estado_propuesta NOT NULL,
    modelo_ia text,
    fecha timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.propuestas OWNER TO postgres;

--
-- Name: respuestas_propuesta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.respuestas_propuesta (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    propuesta_id uuid NOT NULL,
    parte_id uuid NOT NULL,
    decision public.decision_propuesta NOT NULL,
    fecha timestamp with time zone DEFAULT now() NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.respuestas_propuesta OWNER TO postgres;

--
-- Name: rondas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rondas (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    caso_id uuid NOT NULL,
    numero integer NOT NULL,
    estado public.estado_ronda DEFAULT 'activa'::public.estado_ronda NOT NULL,
    fecha_inicio timestamp with time zone DEFAULT now() NOT NULL,
    fecha_fin timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.rondas OWNER TO postgres;

--
-- Name: suscripciones; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.suscripciones (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    usuario_id uuid,
    estudio_id uuid,
    plan_id uuid NOT NULL,
    estado public.estado_suscripcion DEFAULT 'pendiente_pago'::public.estado_suscripcion NOT NULL,
    fecha_inicio timestamp with time zone,
    fecha_fin timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    CONSTRAINT suscripciones_xor_usuario_estudio CHECK ((((usuario_id IS NOT NULL) AND (estudio_id IS NULL)) OR ((usuario_id IS NULL) AND (estudio_id IS NOT NULL))))
);


ALTER TABLE public.suscripciones OWNER TO postgres;

--
-- Name: tareas; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.tareas (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    acuerdo_id uuid NOT NULL,
    caso_id uuid NOT NULL,
    tipo public.tipo_tarea NOT NULL,
    descripcion text NOT NULL,
    fecha_evento timestamp with time zone,
    estado public.estado_tarea DEFAULT 'pendiente'::public.estado_tarea NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.tareas OWNER TO postgres;

--
-- Name: usuarios; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.usuarios (
    id uuid NOT NULL,
    rol public.rol_usuario NOT NULL,
    nombre text NOT NULL,
    apellido text NOT NULL,
    email text NOT NULL,
    documento text,
    telefono text,
    idioma text DEFAULT 'es'::text,
    verif_biometrica public.verif_biometrica DEFAULT 'pendiente'::public.verif_biometrica,
    estudio_id uuid,
    activo boolean DEFAULT true NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    consentimiento_fecha timestamp with time zone,
    consentimiento_envelope_id text
);


ALTER TABLE public.usuarios OWNER TO postgres;

--
-- Data for Name: acuerdos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: auditoria; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: carpetas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: caso_partes; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: casos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: configuracion; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.configuracion VALUES ('43a94598-8e09-4d71-9393-8f237d815f1e', 'ia_modelo', '"openai/gpt-4"', 'Modelo de IA por defecto para generaci├│n de propuestas', '2026-07-29 00:53:40.867004+00', '2026-07-29 00:53:40.867004+00');
INSERT INTO public.configuracion VALUES ('b0961b73-bf7e-4c00-97d5-75db2e4e56fe', 'ia_temperature', '0.7', 'Temperatura del modelo de IA (0.0 - 2.0)', '2026-07-29 00:53:40.867004+00', '2026-07-29 00:53:40.867004+00');
INSERT INTO public.configuracion VALUES ('a567db38-d491-4c1e-b854-352a19b19b0d', 'ia_max_tokens', '2000', 'M├íximo de tokens por respuesta de IA', '2026-07-29 00:53:40.867004+00', '2026-07-29 00:53:40.867004+00');


--
-- Data for Name: estudios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: firmas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: incumplimientos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: inversores; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: invitaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: items; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: mediaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: notificaciones; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: pagos; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: planes; Type: TABLE DATA; Schema: public; Owner: postgres
--

INSERT INTO public.planes VALUES ('784f35dc-5d9b-4347-82d7-b409bc2470be', 'base', 3, 2, 5, 0.00, '2026-07-29 00:53:40.867004+00', '2026-07-29 00:53:40.867004+00');
INSERT INTO public.planes VALUES ('1bc3917a-9114-497a-a983-b3a7a8b9059d', 'simple', 10, 5, 15, 9.99, '2026-07-29 00:53:40.867004+00', '2026-07-29 00:53:40.867004+00');
INSERT INTO public.planes VALUES ('d3eceb18-db49-4987-80eb-e1c8222530c1', 'plus', -1, -1, -1, 19.99, '2026-07-29 00:53:40.867004+00', '2026-07-29 00:53:40.867004+00');


--
-- Data for Name: propuestas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: respuestas_propuesta; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: rondas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: suscripciones; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: tareas; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: usuarios; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: acuerdos acuerdos_caso_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acuerdos
    ADD CONSTRAINT acuerdos_caso_unique UNIQUE (caso_id);


--
-- Name: acuerdos acuerdos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acuerdos
    ADD CONSTRAINT acuerdos_pkey PRIMARY KEY (id);


--
-- Name: auditoria auditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria
    ADD CONSTRAINT auditoria_pkey PRIMARY KEY (id);


--
-- Name: carpetas carpetas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carpetas
    ADD CONSTRAINT carpetas_pkey PRIMARY KEY (id);


--
-- Name: caso_partes caso_partes_caso_usuario_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caso_partes
    ADD CONSTRAINT caso_partes_caso_usuario_unique UNIQUE (caso_id, usuario_id);


--
-- Name: caso_partes caso_partes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caso_partes
    ADD CONSTRAINT caso_partes_pkey PRIMARY KEY (id);


--
-- Name: casos casos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.casos
    ADD CONSTRAINT casos_pkey PRIMARY KEY (id);


--
-- Name: configuracion configuracion_clave_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuracion
    ADD CONSTRAINT configuracion_clave_key UNIQUE (clave);


--
-- Name: configuracion configuracion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.configuracion
    ADD CONSTRAINT configuracion_pkey PRIMARY KEY (id);


--
-- Name: estudios estudios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estudios
    ADD CONSTRAINT estudios_pkey PRIMARY KEY (id);


--
-- Name: firmas firmas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firmas
    ADD CONSTRAINT firmas_pkey PRIMARY KEY (id);


--
-- Name: incumplimientos incumplimientos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incumplimientos
    ADD CONSTRAINT incumplimientos_pkey PRIMARY KEY (id);


--
-- Name: inversores inversores_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inversores
    ADD CONSTRAINT inversores_pkey PRIMARY KEY (id);


--
-- Name: invitaciones invitaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitaciones
    ADD CONSTRAINT invitaciones_pkey PRIMARY KEY (id);


--
-- Name: invitaciones invitaciones_token_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitaciones
    ADD CONSTRAINT invitaciones_token_key UNIQUE (token);


--
-- Name: items items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_pkey PRIMARY KEY (id);


--
-- Name: mediaciones mediaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mediaciones
    ADD CONSTRAINT mediaciones_pkey PRIMARY KEY (id);


--
-- Name: notificaciones notificaciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_pkey PRIMARY KEY (id);


--
-- Name: pagos pagos_mp_payment_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_mp_payment_id_key UNIQUE (mp_payment_id);


--
-- Name: pagos pagos_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_pkey PRIMARY KEY (id);


--
-- Name: planes planes_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planes
    ADD CONSTRAINT planes_nombre_key UNIQUE (nombre);


--
-- Name: planes planes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.planes
    ADD CONSTRAINT planes_pkey PRIMARY KEY (id);


--
-- Name: propuestas propuestas_caso_ronda_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.propuestas
    ADD CONSTRAINT propuestas_caso_ronda_unique UNIQUE (caso_id, ronda_id);


--
-- Name: propuestas propuestas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.propuestas
    ADD CONSTRAINT propuestas_pkey PRIMARY KEY (id);


--
-- Name: respuestas_propuesta respuestas_propuesta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.respuestas_propuesta
    ADD CONSTRAINT respuestas_propuesta_pkey PRIMARY KEY (id);


--
-- Name: respuestas_propuesta respuestas_propuesta_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.respuestas_propuesta
    ADD CONSTRAINT respuestas_propuesta_unique UNIQUE (propuesta_id, parte_id);


--
-- Name: rondas rondas_caso_numero_unique; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rondas
    ADD CONSTRAINT rondas_caso_numero_unique UNIQUE (caso_id, numero);


--
-- Name: rondas rondas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rondas
    ADD CONSTRAINT rondas_pkey PRIMARY KEY (id);


--
-- Name: suscripciones suscripciones_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suscripciones
    ADD CONSTRAINT suscripciones_pkey PRIMARY KEY (id);


--
-- Name: tareas tareas_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tareas
    ADD CONSTRAINT tareas_pkey PRIMARY KEY (id);


--
-- Name: usuarios usuarios_documento_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_documento_key UNIQUE (documento);


--
-- Name: usuarios usuarios_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_email_key UNIQUE (email);


--
-- Name: usuarios usuarios_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_pkey PRIMARY KEY (id);


--
-- Name: idx_auditoria_entidad; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_auditoria_entidad ON public.auditoria USING btree (entidad, entidad_id);


--
-- Name: idx_auditoria_usuario_fecha; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_auditoria_usuario_fecha ON public.auditoria USING btree (usuario_id, created_at);


--
-- Name: idx_casos_creador; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_casos_creador ON public.casos USING btree (creador_id);


--
-- Name: idx_casos_estudio; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_casos_estudio ON public.casos USING btree (estudio_id) WHERE (estudio_id IS NOT NULL);


--
-- Name: idx_casos_estudio_carpeta; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_casos_estudio_carpeta ON public.casos USING btree (estudio_id, carpeta_id) WHERE ((estudio_id IS NOT NULL) AND (carpeta_id IS NOT NULL));


--
-- Name: idx_firmas_acuerdo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_firmas_acuerdo ON public.firmas USING btree (acuerdo_id);


--
-- Name: idx_invitaciones_token; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invitaciones_token ON public.invitaciones USING btree (token) WHERE (token IS NOT NULL);


--
-- Name: idx_items_caso_parte; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_items_caso_parte ON public.items USING btree (caso_id, parte_id);


--
-- Name: idx_mediaciones_caso; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_mediaciones_caso ON public.mediaciones USING btree (caso_id);


--
-- Name: idx_notificaciones_usuario_estado; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notificaciones_usuario_estado ON public.notificaciones USING btree (usuario_id, estado);


--
-- Name: idx_respuestas_propuesta; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_respuestas_propuesta ON public.respuestas_propuesta USING btree (propuesta_id);


--
-- Name: idx_suscripciones_estudio; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_suscripciones_estudio ON public.suscripciones USING btree (estudio_id) WHERE (estudio_id IS NOT NULL);


--
-- Name: idx_suscripciones_usuario; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_suscripciones_usuario ON public.suscripciones USING btree (usuario_id) WHERE (usuario_id IS NOT NULL);


--
-- Name: idx_tareas_acuerdo; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_tareas_acuerdo ON public.tareas USING btree (acuerdo_id);


--
-- Name: mediaciones_caso_activa_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX mediaciones_caso_activa_unique ON public.mediaciones USING btree (caso_id) WHERE (estado = ANY (ARRAY['solicitada'::public.estado_mediacion, 'aceptada'::public.estado_mediacion, 'activa'::public.estado_mediacion]));


--
-- Name: notificaciones_vencimiento_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX notificaciones_vencimiento_unique ON public.notificaciones USING btree (caso_id, evento, usuario_id) WHERE (evento = 'vencimiento'::text);


--
-- Name: tareas_acuerdo_descripcion_unique; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX tareas_acuerdo_descripcion_unique ON public.tareas USING btree (acuerdo_id, descripcion);


--
-- Name: acuerdos audit_acuerdos; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_acuerdos AFTER INSERT OR DELETE OR UPDATE ON public.acuerdos FOR EACH ROW EXECUTE FUNCTION public.audit_trigger_func();


--
-- Name: casos audit_casos; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_casos AFTER INSERT OR DELETE OR UPDATE ON public.casos FOR EACH ROW EXECUTE FUNCTION public.audit_trigger_func();


--
-- Name: firmas audit_firmas; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_firmas AFTER INSERT OR DELETE OR UPDATE ON public.firmas FOR EACH ROW EXECUTE FUNCTION public.audit_trigger_func();


--
-- Name: items audit_items; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_items AFTER INSERT OR DELETE OR UPDATE ON public.items FOR EACH ROW EXECUTE FUNCTION public.audit_trigger_func();


--
-- Name: mediaciones audit_mediaciones; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_mediaciones AFTER INSERT OR DELETE OR UPDATE ON public.mediaciones FOR EACH ROW EXECUTE FUNCTION public.audit_trigger_func();


--
-- Name: pagos audit_pagos; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_pagos AFTER INSERT OR DELETE OR UPDATE ON public.pagos FOR EACH ROW EXECUTE FUNCTION public.audit_trigger_func();


--
-- Name: propuestas audit_propuestas; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_propuestas AFTER INSERT OR DELETE OR UPDATE ON public.propuestas FOR EACH ROW EXECUTE FUNCTION public.audit_trigger_func();


--
-- Name: respuestas_propuesta audit_respuestas; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_respuestas AFTER INSERT OR DELETE OR UPDATE ON public.respuestas_propuesta FOR EACH ROW EXECUTE FUNCTION public.audit_trigger_func();


--
-- Name: suscripciones audit_suscripciones; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER audit_suscripciones AFTER INSERT OR DELETE OR UPDATE ON public.suscripciones FOR EACH ROW EXECUTE FUNCTION public.audit_trigger_func();


--
-- Name: acuerdos set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.acuerdos FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: carpetas set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.carpetas FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: caso_partes set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.caso_partes FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: casos set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.casos FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: configuracion set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.configuracion FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: estudios set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.estudios FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: invitaciones set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.invitaciones FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: items set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.items FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: mediaciones set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.mediaciones FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: pagos set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.pagos FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: planes set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.planes FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: propuestas set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.propuestas FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: rondas set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.rondas FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: suscripciones set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.suscripciones FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: tareas set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.tareas FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: usuarios set_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER set_updated_at BEFORE UPDATE ON public.usuarios FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: rondas trigger_sync_ronda_actual; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_sync_ronda_actual AFTER INSERT ON public.rondas FOR EACH ROW EXECUTE FUNCTION public.sync_ronda_actual();


--
-- Name: casos trigger_validate_caso_estado; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_validate_caso_estado BEFORE UPDATE OF estado ON public.casos FOR EACH ROW EXECUTE FUNCTION public.validate_caso_estado_transition();


--
-- Name: propuestas trigger_validate_propuesta_estado; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER trigger_validate_propuesta_estado BEFORE UPDATE OF estado ON public.propuestas FOR EACH ROW EXECUTE FUNCTION public.validate_propuesta_estado_transition();


--
-- Name: acuerdos acuerdos_caso_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.acuerdos
    ADD CONSTRAINT acuerdos_caso_id_fkey FOREIGN KEY (caso_id) REFERENCES public.casos(id);


--
-- Name: auditoria auditoria_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auditoria
    ADD CONSTRAINT auditoria_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: carpetas carpetas_estudio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carpetas
    ADD CONSTRAINT carpetas_estudio_id_fkey FOREIGN KEY (estudio_id) REFERENCES public.estudios(id);


--
-- Name: caso_partes caso_partes_caso_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caso_partes
    ADD CONSTRAINT caso_partes_caso_id_fkey FOREIGN KEY (caso_id) REFERENCES public.casos(id);


--
-- Name: caso_partes caso_partes_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.caso_partes
    ADD CONSTRAINT caso_partes_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: casos casos_carpeta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.casos
    ADD CONSTRAINT casos_carpeta_id_fkey FOREIGN KEY (carpeta_id) REFERENCES public.carpetas(id);


--
-- Name: casos casos_creador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.casos
    ADD CONSTRAINT casos_creador_id_fkey FOREIGN KEY (creador_id) REFERENCES public.usuarios(id);


--
-- Name: casos casos_estudio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.casos
    ADD CONSTRAINT casos_estudio_id_fkey FOREIGN KEY (estudio_id) REFERENCES public.estudios(id);


--
-- Name: estudios estudios_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.estudios
    ADD CONSTRAINT estudios_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.planes(id);


--
-- Name: firmas firmas_acuerdo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firmas
    ADD CONSTRAINT firmas_acuerdo_id_fkey FOREIGN KEY (acuerdo_id) REFERENCES public.acuerdos(id);


--
-- Name: firmas firmas_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.firmas
    ADD CONSTRAINT firmas_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: incumplimientos incumplimientos_acuerdo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incumplimientos
    ADD CONSTRAINT incumplimientos_acuerdo_id_fkey FOREIGN KEY (acuerdo_id) REFERENCES public.acuerdos(id);


--
-- Name: incumplimientos incumplimientos_reportante_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.incumplimientos
    ADD CONSTRAINT incumplimientos_reportante_id_fkey FOREIGN KEY (reportante_id) REFERENCES public.usuarios(id);


--
-- Name: invitaciones invitaciones_caso_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invitaciones
    ADD CONSTRAINT invitaciones_caso_id_fkey FOREIGN KEY (caso_id) REFERENCES public.casos(id);


--
-- Name: items items_caso_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_caso_id_fkey FOREIGN KEY (caso_id) REFERENCES public.casos(id);


--
-- Name: items items_parte_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.items
    ADD CONSTRAINT items_parte_id_fkey FOREIGN KEY (parte_id) REFERENCES public.usuarios(id);


--
-- Name: mediaciones mediaciones_caso_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mediaciones
    ADD CONSTRAINT mediaciones_caso_id_fkey FOREIGN KEY (caso_id) REFERENCES public.casos(id);


--
-- Name: mediaciones mediaciones_mediador_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.mediaciones
    ADD CONSTRAINT mediaciones_mediador_id_fkey FOREIGN KEY (mediador_id) REFERENCES public.usuarios(id);


--
-- Name: notificaciones notificaciones_caso_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_caso_id_fkey FOREIGN KEY (caso_id) REFERENCES public.casos(id);


--
-- Name: notificaciones notificaciones_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notificaciones
    ADD CONSTRAINT notificaciones_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: pagos pagos_suscripcion_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.pagos
    ADD CONSTRAINT pagos_suscripcion_id_fkey FOREIGN KEY (suscripcion_id) REFERENCES public.suscripciones(id);


--
-- Name: propuestas propuestas_caso_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.propuestas
    ADD CONSTRAINT propuestas_caso_id_fkey FOREIGN KEY (caso_id) REFERENCES public.casos(id);


--
-- Name: propuestas propuestas_ronda_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.propuestas
    ADD CONSTRAINT propuestas_ronda_id_fkey FOREIGN KEY (ronda_id) REFERENCES public.rondas(id);


--
-- Name: respuestas_propuesta respuestas_propuesta_parte_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.respuestas_propuesta
    ADD CONSTRAINT respuestas_propuesta_parte_id_fkey FOREIGN KEY (parte_id) REFERENCES public.usuarios(id);


--
-- Name: respuestas_propuesta respuestas_propuesta_propuesta_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.respuestas_propuesta
    ADD CONSTRAINT respuestas_propuesta_propuesta_id_fkey FOREIGN KEY (propuesta_id) REFERENCES public.propuestas(id);


--
-- Name: rondas rondas_caso_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rondas
    ADD CONSTRAINT rondas_caso_id_fkey FOREIGN KEY (caso_id) REFERENCES public.casos(id);


--
-- Name: suscripciones suscripciones_estudio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suscripciones
    ADD CONSTRAINT suscripciones_estudio_id_fkey FOREIGN KEY (estudio_id) REFERENCES public.estudios(id);


--
-- Name: suscripciones suscripciones_plan_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suscripciones
    ADD CONSTRAINT suscripciones_plan_id_fkey FOREIGN KEY (plan_id) REFERENCES public.planes(id);


--
-- Name: suscripciones suscripciones_usuario_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.suscripciones
    ADD CONSTRAINT suscripciones_usuario_id_fkey FOREIGN KEY (usuario_id) REFERENCES public.usuarios(id);


--
-- Name: tareas tareas_acuerdo_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tareas
    ADD CONSTRAINT tareas_acuerdo_id_fkey FOREIGN KEY (acuerdo_id) REFERENCES public.acuerdos(id);


--
-- Name: tareas tareas_caso_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.tareas
    ADD CONSTRAINT tareas_caso_id_fkey FOREIGN KEY (caso_id) REFERENCES public.casos(id);


--
-- Name: usuarios usuarios_estudio_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_estudio_id_fkey FOREIGN KEY (estudio_id) REFERENCES public.estudios(id);


--
-- Name: usuarios usuarios_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.usuarios
    ADD CONSTRAINT usuarios_id_fkey FOREIGN KEY (id) REFERENCES auth.users(id) ON DELETE CASCADE;


--
-- Name: acuerdos; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.acuerdos ENABLE ROW LEVEL SECURITY;

--
-- Name: acuerdos acuerdos_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY acuerdos_select ON public.acuerdos FOR SELECT USING ((public.is_part_of_case(caso_id) OR public.is_admin()));


--
-- Name: auditoria; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.auditoria ENABLE ROW LEVEL SECURITY;

--
-- Name: auditoria auditoria_select_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY auditoria_select_admin ON public.auditoria FOR SELECT USING (public.is_admin());


--
-- Name: carpetas; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.carpetas ENABLE ROW LEVEL SECURITY;

--
-- Name: carpetas carpetas_delete_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY carpetas_delete_own ON public.carpetas FOR DELETE USING (((estudio_id = ( SELECT usuarios.estudio_id
   FROM public.usuarios
  WHERE (usuarios.id = auth.uid()))) OR public.is_admin()));


--
-- Name: carpetas carpetas_insert_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY carpetas_insert_own ON public.carpetas FOR INSERT WITH CHECK (((estudio_id = ( SELECT usuarios.estudio_id
   FROM public.usuarios
  WHERE (usuarios.id = auth.uid()))) OR public.is_admin()));


--
-- Name: carpetas carpetas_select_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY carpetas_select_own ON public.carpetas FOR SELECT USING (((estudio_id = ( SELECT usuarios.estudio_id
   FROM public.usuarios
  WHERE (usuarios.id = auth.uid()))) OR public.is_admin()));


--
-- Name: carpetas carpetas_update_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY carpetas_update_own ON public.carpetas FOR UPDATE USING (((estudio_id = ( SELECT usuarios.estudio_id
   FROM public.usuarios
  WHERE (usuarios.id = auth.uid()))) OR public.is_admin()));


--
-- Name: caso_partes; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.caso_partes ENABLE ROW LEVEL SECURITY;

--
-- Name: caso_partes caso_partes_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY caso_partes_select ON public.caso_partes FOR SELECT USING ((public.is_part_of_case(caso_id) OR public.is_admin()));


--
-- Name: casos; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.casos ENABLE ROW LEVEL SECURITY;

--
-- Name: casos casos_insert_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY casos_insert_own ON public.casos FOR INSERT WITH CHECK ((creador_id = auth.uid()));


--
-- Name: casos casos_select_part; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY casos_select_part ON public.casos FOR SELECT USING ((public.is_part_of_case(id) OR public.is_owner_estudio_of_case(id) OR public.is_admin()));


--
-- Name: casos casos_update_part; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY casos_update_part ON public.casos FOR UPDATE USING ((public.is_part_of_case(id) OR public.is_owner_estudio_of_case(id)));


--
-- Name: configuracion; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.configuracion ENABLE ROW LEVEL SECURITY;

--
-- Name: configuracion configuracion_delete_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY configuracion_delete_admin ON public.configuracion FOR DELETE USING (public.is_admin());


--
-- Name: configuracion configuracion_insert_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY configuracion_insert_admin ON public.configuracion FOR INSERT WITH CHECK (public.is_admin());


--
-- Name: configuracion configuracion_select_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY configuracion_select_admin ON public.configuracion FOR SELECT USING (public.is_admin());


--
-- Name: configuracion configuracion_update_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY configuracion_update_admin ON public.configuracion FOR UPDATE USING (public.is_admin());


--
-- Name: estudios; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.estudios ENABLE ROW LEVEL SECURITY;

--
-- Name: estudios estudios_select_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY estudios_select_own ON public.estudios FOR SELECT USING (((id = ( SELECT usuarios.estudio_id
   FROM public.usuarios
  WHERE (usuarios.id = auth.uid()))) OR public.is_admin()));


--
-- Name: firmas; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.firmas ENABLE ROW LEVEL SECURITY;

--
-- Name: firmas firmas_select_case; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY firmas_select_case ON public.firmas FOR SELECT USING ((EXISTS ( SELECT 1
   FROM public.acuerdos a
  WHERE ((a.id = firmas.acuerdo_id) AND (public.is_part_of_case(a.caso_id) OR public.is_admin())))));


--
-- Name: firmas firmas_select_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY firmas_select_own ON public.firmas FOR SELECT USING ((usuario_id = auth.uid()));


--
-- Name: incumplimientos; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.incumplimientos ENABLE ROW LEVEL SECURITY;

--
-- Name: incumplimientos incumplimientos_insert_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY incumplimientos_insert_own ON public.incumplimientos FOR INSERT WITH CHECK ((EXISTS ( SELECT 1
   FROM public.acuerdos a
  WHERE ((a.id = incumplimientos.acuerdo_id) AND (public.is_part_of_case(a.caso_id) OR public.is_admin())))));


--
-- Name: incumplimientos incumplimientos_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY incumplimientos_select ON public.incumplimientos FOR SELECT USING ((EXISTS ( SELECT 1
   FROM public.acuerdos a
  WHERE ((a.id = incumplimientos.acuerdo_id) AND (public.is_part_of_case(a.caso_id) OR public.is_admin())))));


--
-- Name: incumplimientos incumplimientos_update_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY incumplimientos_update_own ON public.incumplimientos FOR UPDATE USING ((EXISTS ( SELECT 1
   FROM public.acuerdos a
  WHERE ((a.id = incumplimientos.acuerdo_id) AND (public.is_part_of_case(a.caso_id) OR public.is_admin())))));


--
-- Name: inversores; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.inversores ENABLE ROW LEVEL SECURITY;

--
-- Name: inversores inversores_insert_anon; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY inversores_insert_anon ON public.inversores FOR INSERT WITH CHECK (true);


--
-- Name: inversores inversores_select_all; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY inversores_select_all ON public.inversores FOR SELECT USING (true);


--
-- Name: invitaciones; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.invitaciones ENABLE ROW LEVEL SECURITY;

--
-- Name: invitaciones invitaciones_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY invitaciones_select ON public.invitaciones FOR SELECT USING ((public.is_part_of_case(caso_id) OR public.is_admin()));


--
-- Name: items; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.items ENABLE ROW LEVEL SECURITY;

--
-- Name: items items_delete_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY items_delete_own ON public.items FOR DELETE USING ((parte_id = auth.uid()));


--
-- Name: items items_insert_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY items_insert_own ON public.items FOR INSERT WITH CHECK (((parte_id = auth.uid()) AND public.is_part_of_case(caso_id)));


--
-- Name: items items_select_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY items_select_admin ON public.items FOR SELECT USING (public.is_admin());


--
-- Name: items items_select_mediator; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY items_select_mediator ON public.items FOR SELECT USING (public.is_mediator_of_case(caso_id));


--
-- Name: items items_select_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY items_select_own ON public.items FOR SELECT USING ((parte_id = auth.uid()));


--
-- Name: items items_update_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY items_update_own ON public.items FOR UPDATE USING ((parte_id = auth.uid()));


--
-- Name: mediaciones; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.mediaciones ENABLE ROW LEVEL SECURITY;

--
-- Name: mediaciones mediaciones_insert_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY mediaciones_insert_own ON public.mediaciones FOR INSERT WITH CHECK ((public.is_part_of_case(caso_id) AND (mediador_id <> auth.uid())));


--
-- Name: mediaciones mediaciones_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY mediaciones_select ON public.mediaciones FOR SELECT USING ((public.is_part_of_case(caso_id) OR (mediador_id = auth.uid()) OR public.is_admin()));


--
-- Name: mediaciones mediaciones_update_mediator; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY mediaciones_update_mediator ON public.mediaciones FOR UPDATE USING (((mediador_id = auth.uid()) OR public.is_admin()));


--
-- Name: notificaciones; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.notificaciones ENABLE ROW LEVEL SECURITY;

--
-- Name: notificaciones notificaciones_insert_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY notificaciones_insert_own ON public.notificaciones FOR INSERT WITH CHECK (((usuario_id = auth.uid()) OR public.is_admin()));


--
-- Name: notificaciones notificaciones_select_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY notificaciones_select_admin ON public.notificaciones FOR SELECT USING (public.is_admin());


--
-- Name: notificaciones notificaciones_select_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY notificaciones_select_own ON public.notificaciones FOR SELECT USING ((usuario_id = auth.uid()));


--
-- Name: notificaciones notificaciones_update_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY notificaciones_update_own ON public.notificaciones FOR UPDATE USING (((usuario_id = auth.uid()) OR public.is_admin()));


--
-- Name: pagos; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.pagos ENABLE ROW LEVEL SECURITY;

--
-- Name: pagos pagos_select_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY pagos_select_own ON public.pagos FOR SELECT USING ((EXISTS ( SELECT 1
   FROM public.suscripciones s
  WHERE ((s.id = pagos.suscripcion_id) AND ((s.usuario_id = auth.uid()) OR public.is_admin())))));


--
-- Name: planes; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.planes ENABLE ROW LEVEL SECURITY;

--
-- Name: planes planes_select_all; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY planes_select_all ON public.planes FOR SELECT USING (true);


--
-- Name: propuestas; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.propuestas ENABLE ROW LEVEL SECURITY;

--
-- Name: propuestas propuestas_insert; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY propuestas_insert ON public.propuestas FOR INSERT WITH CHECK (public.is_part_of_case(caso_id));


--
-- Name: propuestas propuestas_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY propuestas_select ON public.propuestas FOR SELECT USING ((public.is_part_of_case(caso_id) OR public.is_mediator_of_case(caso_id) OR public.is_admin()));


--
-- Name: respuestas_propuesta respuestas_insert; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY respuestas_insert ON public.respuestas_propuesta FOR INSERT WITH CHECK ((parte_id = auth.uid()));


--
-- Name: respuestas_propuesta; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.respuestas_propuesta ENABLE ROW LEVEL SECURITY;

--
-- Name: respuestas_propuesta respuestas_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY respuestas_select ON public.respuestas_propuesta FOR SELECT USING ((EXISTS ( SELECT 1
   FROM public.propuestas p
  WHERE ((p.id = respuestas_propuesta.propuesta_id) AND (public.is_part_of_case(p.caso_id) OR public.is_admin())))));


--
-- Name: rondas; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.rondas ENABLE ROW LEVEL SECURITY;

--
-- Name: rondas rondas_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY rondas_select ON public.rondas FOR SELECT USING ((public.is_part_of_case(caso_id) OR public.is_mediator_of_case(caso_id) OR public.is_admin()));


--
-- Name: suscripciones; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.suscripciones ENABLE ROW LEVEL SECURITY;

--
-- Name: suscripciones suscripciones_select_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY suscripciones_select_own ON public.suscripciones FOR SELECT USING ((public.is_own_subscription(id) OR public.is_admin()));


--
-- Name: tareas; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.tareas ENABLE ROW LEVEL SECURITY;

--
-- Name: tareas tareas_insert_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tareas_insert_own ON public.tareas FOR INSERT WITH CHECK ((public.is_part_of_case(caso_id) OR public.is_admin()));


--
-- Name: tareas tareas_select; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tareas_select ON public.tareas FOR SELECT USING ((public.is_part_of_case(caso_id) OR public.is_admin()));


--
-- Name: tareas tareas_update_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY tareas_update_own ON public.tareas FOR UPDATE USING ((public.is_part_of_case(caso_id) OR public.is_admin()));


--
-- Name: usuarios; Type: ROW SECURITY; Schema: public; Owner: postgres
--

ALTER TABLE public.usuarios ENABLE ROW LEVEL SECURITY;

--
-- Name: usuarios usuarios_select_admin; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY usuarios_select_admin ON public.usuarios FOR SELECT USING (public.is_admin());


--
-- Name: usuarios usuarios_select_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY usuarios_select_own ON public.usuarios FOR SELECT USING ((id = auth.uid()));


--
-- Name: usuarios usuarios_update_own; Type: POLICY; Schema: public; Owner: postgres
--

CREATE POLICY usuarios_update_own ON public.usuarios FOR UPDATE USING ((id = auth.uid()));


--
-- Name: SCHEMA public; Type: ACL; Schema: -; Owner: pg_database_owner
--

GRANT USAGE ON SCHEMA public TO postgres;
GRANT USAGE ON SCHEMA public TO anon;
GRANT USAGE ON SCHEMA public TO authenticated;
GRANT USAGE ON SCHEMA public TO service_role;


--
-- Name: TABLE acuerdos; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.acuerdos TO anon;
GRANT ALL ON TABLE public.acuerdos TO authenticated;
GRANT ALL ON TABLE public.acuerdos TO service_role;


--
-- Name: TABLE auditoria; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.auditoria TO anon;
GRANT ALL ON TABLE public.auditoria TO authenticated;
GRANT ALL ON TABLE public.auditoria TO service_role;


--
-- Name: TABLE carpetas; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.carpetas TO anon;
GRANT ALL ON TABLE public.carpetas TO authenticated;
GRANT ALL ON TABLE public.carpetas TO service_role;


--
-- Name: TABLE caso_partes; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.caso_partes TO anon;
GRANT ALL ON TABLE public.caso_partes TO authenticated;
GRANT ALL ON TABLE public.caso_partes TO service_role;


--
-- Name: TABLE casos; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.casos TO anon;
GRANT ALL ON TABLE public.casos TO authenticated;
GRANT ALL ON TABLE public.casos TO service_role;


--
-- Name: TABLE configuracion; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.configuracion TO anon;
GRANT ALL ON TABLE public.configuracion TO authenticated;
GRANT ALL ON TABLE public.configuracion TO service_role;


--
-- Name: TABLE estudios; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.estudios TO anon;
GRANT ALL ON TABLE public.estudios TO authenticated;
GRANT ALL ON TABLE public.estudios TO service_role;


--
-- Name: TABLE firmas; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.firmas TO anon;
GRANT ALL ON TABLE public.firmas TO authenticated;
GRANT ALL ON TABLE public.firmas TO service_role;


--
-- Name: TABLE incumplimientos; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.incumplimientos TO anon;
GRANT ALL ON TABLE public.incumplimientos TO authenticated;
GRANT ALL ON TABLE public.incumplimientos TO service_role;


--
-- Name: TABLE inversores; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.inversores TO anon;
GRANT ALL ON TABLE public.inversores TO authenticated;
GRANT ALL ON TABLE public.inversores TO service_role;


--
-- Name: TABLE invitaciones; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.invitaciones TO anon;
GRANT ALL ON TABLE public.invitaciones TO authenticated;
GRANT ALL ON TABLE public.invitaciones TO service_role;


--
-- Name: TABLE items; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.items TO anon;
GRANT ALL ON TABLE public.items TO authenticated;
GRANT ALL ON TABLE public.items TO service_role;


--
-- Name: TABLE mediaciones; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.mediaciones TO anon;
GRANT ALL ON TABLE public.mediaciones TO authenticated;
GRANT ALL ON TABLE public.mediaciones TO service_role;


--
-- Name: TABLE notificaciones; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.notificaciones TO anon;
GRANT ALL ON TABLE public.notificaciones TO authenticated;
GRANT ALL ON TABLE public.notificaciones TO service_role;


--
-- Name: TABLE pagos; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.pagos TO anon;
GRANT ALL ON TABLE public.pagos TO authenticated;
GRANT ALL ON TABLE public.pagos TO service_role;


--
-- Name: TABLE planes; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.planes TO anon;
GRANT ALL ON TABLE public.planes TO authenticated;
GRANT ALL ON TABLE public.planes TO service_role;


--
-- Name: TABLE propuestas; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.propuestas TO anon;
GRANT ALL ON TABLE public.propuestas TO authenticated;
GRANT ALL ON TABLE public.propuestas TO service_role;


--
-- Name: TABLE respuestas_propuesta; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.respuestas_propuesta TO anon;
GRANT ALL ON TABLE public.respuestas_propuesta TO authenticated;
GRANT ALL ON TABLE public.respuestas_propuesta TO service_role;


--
-- Name: TABLE rondas; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.rondas TO anon;
GRANT ALL ON TABLE public.rondas TO authenticated;
GRANT ALL ON TABLE public.rondas TO service_role;


--
-- Name: TABLE suscripciones; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.suscripciones TO anon;
GRANT ALL ON TABLE public.suscripciones TO authenticated;
GRANT ALL ON TABLE public.suscripciones TO service_role;


--
-- Name: TABLE tareas; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.tareas TO anon;
GRANT ALL ON TABLE public.tareas TO authenticated;
GRANT ALL ON TABLE public.tareas TO service_role;


--
-- Name: TABLE usuarios; Type: ACL; Schema: public; Owner: postgres
--

GRANT ALL ON TABLE public.usuarios TO anon;
GRANT ALL ON TABLE public.usuarios TO authenticated;
GRANT ALL ON TABLE public.usuarios TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT UPDATE ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT UPDATE ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT UPDATE ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR SEQUENCES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON SEQUENCES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;


--
-- Name: DEFAULT PRIVILEGES FOR FUNCTIONS; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON FUNCTIONS TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: postgres
--

ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT REFERENCES,TRIGGER,TRUNCATE,MAINTAIN ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT REFERENCES,TRIGGER,TRUNCATE,MAINTAIN ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE postgres IN SCHEMA public GRANT REFERENCES,TRIGGER,TRUNCATE,MAINTAIN ON TABLES TO service_role;


--
-- Name: DEFAULT PRIVILEGES FOR TABLES; Type: DEFAULT ACL; Schema: public; Owner: supabase_admin
--

ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO postgres;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO anon;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO authenticated;
ALTER DEFAULT PRIVILEGES FOR ROLE supabase_admin IN SCHEMA public GRANT ALL ON TABLES TO service_role;


--
-- PostgreSQL database dump complete
--

\unrestrict YaZ3dritY0t7E3WkuQ1ANkWgbgTc3YBLE4HBfjxcEKQAKnzbizaXVRVDXOwLiPY

